%h1 About Harvest Helper
%p
  Harvest Helper is the intersection between IT (your computer devices) and the real world (your garden). 
  This project gives gardeners the ability to remotely control when data will be pulled from their garden, 
  review information about their garden, and use social media to share garden accomplishments with the world. 
  Harvest Helper is made primarily from an in-ground device, a server, and device accessories that will target indoor gardens 
  with an available Ethernet connection.  
%p
  An in-ground device is based around a controllable circuit board with multiple sensors.  
  The unit takes time lapse pictures of your garden and makes them accessible on the web, where they can be shared via social media. 
  Garden conditions can be analyzed so the device can send automated suggestions as to how to better grow the garden. 
  Social media will be used to help people publicize their garden, share tips, etc.
%p
  Accessories for the in-ground device include solenoids to control watering as well as give temperature, humidity, soil moisture, 
  and pH readings. Cameras integrated to take pictures of the garden, allowing for a time-lapse view. 
  The data from these units can be pushed to an analytics dashboard and pushed to social media.
%p
  The mobile application allows for viewing and controlling a garden remotely as well as posting statistics and accomplishments 
  to social media.

