- if user_signed_in?
  %h1 Welcome
  = current_user.email
- else
  %h2
    = "Welcome to Harvest Helper garden controller system." 
  %p
    = "Wanna give a try on your garden? Sign up"
    = link_to "Here", new_user_registration_path
