/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

html { height: 100%; }
body { 
	height: 100%; padding-top: 80px; 
	background-image: url("/images/garden.jpg");
	background-size: 100% 140%;
	background-repeat: no-repeat;
}

table{
  margin-top: 30px;
  margin-bottom: 30px;	  
}

.wrapper{
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}

.footer{
  position: relative;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  padding-top: 50px;
  text-align: center;
}

.footer a{
	color: #0000A0;
}

.table-striped thead tr th {background-color: #A0A0A0;}

.billboard {
	background-image: url("/images/harvest_helper2.png");
	position: relative;
	height: 200px;
	width: 600px;
	opacity:0.85;
	background-repeat: no-repeat;
}

.home-style{
	font-size: 13pt;
	color: #fff;
}

#mapdiv{
  height: 250px;
  width: 500px;
}
